body {
  margin: 0;
  padding: 0;
}

.awesome {
  display: none;
}

.d-flex {
  display: none;
}

.menu {
  background-color: #d3d3d3;
}

.navbar-container {
  display: flex;
  justify-content: center;
}


.list {
  display: flex;
  gap: 10px;
  list-style: none;
}

.list-btn {
  display: flex;
  gap: 10px;
  padding-right: 10px;
  margin-bottom: 5%;
}

div.list-btn:nth-child(2n + 1) {
  background-color: #d3d3d3;
}

#remove {
  margin-left: auto;
  height: 30px;
  margin-top: 10px;
  background-color: #fff;
}

form {
  display: flex;
  flex-direction: column;
  padding: 0 24%;
  margin-top: 15%;
  width: 50%;
}

h1 {
  display: flex;
  justify-content: center;
}

h3 {
  display: flex;
  justify-content: center;
  margin: 10% 0;
}

.books {
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10%;
}

hr {
  width: 20%;
  border: 1px solid #111;
}

#author {
  margin: 0;
}

input {
  margin-bottom: -20px;
}

#add {
  margin-top: -25px;
  width: 25%;
  margin-left: 75%;
}


.hamburger div {
  width: 20px;
  height: 2px;
  background-color: #fff;
  margin: 3px;
  transition: all 0.3s ease;
}

.hamburger {
  position: absolute;
  width: 30px;
  margin-top: 35px;
  cursor: pointer;
  margin-left: 370px;
  background-color: black;
}

.turn .line1 {
  transform: rotate(-45deg) translate(-3px, 4px);
}

.turn .line2 {
  opacity: 0;
}

.turn .line3 {
  transform: rotate(45deg) translate(-3px, -4px);
}

.nav-active {
  display: flex;
  list-style-type: none;
  background-color: #3c3a39;
  position: absolute;
  margin-top: -53px;
  margin-left: -40px;
  display: none;
  width: 100%;
  height: 590px;
}

.nav-list {
  display: none;
}

.logo {
  display: none;
}

.footer-div {
  display: flex;
  justify-content: center;
  padding-top: 27%;
}

@media screen and (min-width: 768px) {
  .list-btn {
    margin-bottom: -50px;
  }

  .hamburger {
    display: none;
  }

  h1 {
    margin-bottom: 10%;
  }

  h3 {
    margin: 5% 0;
  }

  form {
    margin-top: 5%;
  }

  
.logo {
  width: 50%;
  display: flex;
  justify-content: left;
  margin-top: 15px;
}

.nav-active {
  display: none;
}

.nav-list {
  cursor: pointer;
  display: flex;
  justify-content: right;
  list-style: none;
  width: 300px;
  gap: 30px;
}

}
