body {
  margin: 0;
  padding: 0;
}

.awesome {
  display: none;
}

.today-date {
  display: flex;
  justify-content: right;
  margin-right: 45px;
}

.d-flex {
  display: none;
}

.navbar-container {
  display: flex;
  justify-content: center;
  background: #fff;
}

.list {
  display: flex;
  gap: 10px;
  list-style: none;
}

.list-btn {
  display: flex;
  gap: 10px;
  padding-right: 10px;
  margin-bottom: 5%;
}

div.list-btn:nth-child(2n + 1) {
  background-color: #d3d3d3;
}

#remove {
  margin-left: auto;
  height: 30px;
  margin-top: 10px;
  background-color: #fff;
}

form {
  display: flex;
  flex-direction: column;
  padding: 0 24%;
  margin-top: 15%;
  width: 50%;
}

h1 {
  display: flex;
  justify-content: center;
}

h3 {
  display: flex;
  justify-content: center;
  margin: 10% 0;
}

.books {
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10%;
}

#author {
  margin: 0;
}

input {
  margin-bottom: -20px;
}

#add {
  margin-top: -25px;
  width: 25%;
  margin-left: 75%;
}

.hamburger div {
  width: 20px;
  height: 2px;
  background-color: #fff;
  margin: 3px;
  transition: all 0.3s ease;
}

.hamburger {
  width: 30px;
  margin-top: 35px;
  cursor: pointer;
  margin-left: 292px;
  background-color: #d3d3d3;
  color: #111;
}

.turn .line1 {
  transform: rotate(-45deg) translate(-3px, 4px);
}

.turn .line2 {
  opacity: 0;
}

.turn .line3 {
  transform: rotate(45deg) translate(-3px, -4px);
}

.nav-active {
  display: flex;
  list-style-type: none;
  background-color: #3c3a39;
  position: absolute;
  margin-top: -53px;
  margin-left: -40px;
  width: 100%;
  height: 590px;
}

.nav-list {
  display: none;
}

.logo {
  display: none;
}

.footer-div {
  display: flex;
  justify-content: flex-start;
  padding-left: 2%;
  border: 1px solid #111;
  margin: 50% 5% 0 2%;
}

#div-contact {
  margin: auto;
  width: 70%;
  padding-bottom: 13%;
}

@media screen and (min-width: 768px) {
  .list-btn {
    margin-bottom: -50px;
    margin-right: 18px;
  }

  .hamburger {
    display: none;
  }

  h1 {
    margin-bottom: 10%;
  }

  h3 {
    margin: 5% 0;
  }

  form {
    margin-top: 5%;
    padding-bottom: 13%;
  }

  .logo {
    width: 50%;
    display: flex;
    justify-content: left;
    margin-top: 15px;
  }

  .nav-active {
    display: none;
  }

  .nav-list {
    cursor: pointer;
    display: flex;
    justify-content: right;
    list-style: none;
    width: 300px;
    gap: 30px;
  }

  #div-contact {
    margin: auto;
    width: 70%;
    padding-bottom: 13%;
  }

  .contact-info {
    margin: auto;
    width: 50%;
  }

  span {
    padding-left: 2%;
  }

  .nav-link:not(:last-child) {
    border-right: 1px solid #111;
    padding-right: 15px;
  }

  .navbar-container {
    border: 1px solid #111;
    margin: 22px 42px 24px 22px;
    padding: 0 10px;
  }

  .footer-div {
    margin: 21% 5% 0 2%;
  }
}
